/* Variables */
/* Animation Keyframes */
@keyframes spin {
  from {
    transform: rotate(0deg) scale(1.5);
  }
  to {
    transform: rotate(720deg) scale(0);
  }
}
@keyframes end {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Animation chargement de la page */
main, nav, section, footer {
  animation: start 1s 1s both;
}

.loader {
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: wait;
  position: fixed;
  animation: end 1s 1s linear forwards;
}
.loader .loader-object {
  display: block;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #9356DC;
  animation: spin 2s linear infinite;
}
.loader ::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #FF79DA;
  animation: spin 3s linear infinite;
}
.loader ::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: #99E2D0;
  animation: spin 1.5s linear infinite;
}

/* Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.logo {
  font-family: "Shrikhand", cursive;
}

/* Main */
main {
  /* Header */
  /* Form : Position et recherche */
  /* Main Section */
}
main header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
main header img {
  width: 50%;
}
main .formulaire {
  background-color: #EAEAEA;
  padding: 20px 0px;
}
main .formulaire form {
  display: flex;
  justify-content: center;
}
main .formulaire form input {
  border: none;
  background-color: #EAEAEA;
  font-size: 1em;
  width: 35%;
}
main .formulaire i {
  width: 10%;
  text-align: right;
  margin-right: 20px;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 40px;
}
main section p {
  color: grey;
}
main section button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  padding: 20px;
  border-radius: 40px;
  font-size: 1em;
  margin: 30px 0px;
  box-shadow: 5px 5px 5px lightgrey;
  cursor: pointer;
}
main section button:hover {
  box-shadow: 5px 5px 5px #a0a0a0;
  background: linear-gradient(#fface8, #ae80e5);
}

/* Section 1 : Fonctionnement */
.fonctionnement {
  padding: 40px 20px;
}
.fonctionnement .affichage {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.fonctionnement .affichage .affichage-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 5px 5px lightgrey;
  cursor: pointer;
}
.fonctionnement .affichage .affichage-menu i {
  width: 20%;
  text-align: center;
  padding-right: 20px;
  font-size: 1.2em;
  color: grey;
}
.fonctionnement .affichage .affichage-menu p {
  width: 80%;
}
.fonctionnement .affichage .affichage-menu .affichage-numero {
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: #9356DC;
  color: white;
}
.fonctionnement .affichage .affichage-menu:hover {
  background-color: #f2eafb;
}
.fonctionnement .affichage .affichage-menu:hover i {
  color: #9356DC;
}

/* Section 2 : Restaurants */
.restaurant {
  padding: 60px 20px 40px 20px;
  background-color: #F6F6F6;
}
.restaurant .disposition {
  padding: 20px;
}
.restaurant .disposition a {
  text-decoration: none;
  color: black;
}
.restaurant .disposition .restaurant-disposition {
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.restaurant .disposition .restaurant-disposition img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.restaurant .disposition .restaurant-disposition .nouveau {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 10px;
  border-radius: 5px;
}
.restaurant .disposition .restaurant-disposition .disposition-dessous-image {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* Coeur */
}
.restaurant .disposition .restaurant-disposition .disposition-dessous-image p {
  margin-top: 10px;
  font-weight: 100;
}
.restaurant .disposition .restaurant-disposition .disposition-dessous-image i {
  font-size: 2em;
}
.restaurant .disposition .restaurant-disposition .disposition-dessous-image .far {
  position: relative;
  transition: all 1s ease-in-out;
}
.restaurant .disposition .restaurant-disposition .disposition-dessous-image .fas {
  transform: scale(0);
  position: absolute;
  right: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.restaurant .disposition .restaurant-disposition .disposition-dessous-image:hover .fas {
  transform: scale(1);
}
.restaurant .disposition .restaurant-disposition .disposition-dessous-image:hover .far {
  transform: scale(0);
}

/* Footer */
footer {
  background-color: #363636;
  color: white;
  padding: 30px;
}
footer h4 {
  font-size: 1.3em;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  line-height: 1.6em;
}
footer ul li i {
  width: 30px;
  text-align: center;
  margin-right: 5px;
}
footer ul a {
  text-decoration: none;
  color: white;
}

/* Media Queries : Version tablette */
@media screen and (min-width: 768px) {
  /* Logo */
  main header img {
    width: 40%;
  }
}
/* Media Queries : Version Desktop */
@media screen and (min-width: 992px) {
  /* Logo */
  main header img {
    width: 30%;
  }

  /* Fonctionnement */
  .fonctionnement .affichage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
  .fonctionnement .affichage .affichage-menu {
    margin: 10px;
  }
  .fonctionnement .affichage .affichage-menu i {
    width: 30%;
  }
  .fonctionnement .affichage .affichage-menu .affichage-numero {
    left: 45%;
    bottom: -15px;
  }

  /* Restaurant */
  .restaurant .disposition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurant .disposition .restaurant-disposition {
    width: 40%;
  }

  /* Footer */
  footer {
    padding-bottom: 60px;
  }
  footer h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
