@charset "UTF-8";
/* Variables */
/* Animation Keyframes */
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  background-color: #F6F6F6;
}

.logo, h1 {
  font-family: "Shrikhand", cursive;
  letter-spacing: 0.03em;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
header img {
  width: 50%;
}
header a {
  text-decoration: none;
  color: black;
}
header i {
  position: absolute;
  top: 40%;
  left: 40px;
  cursor: pointer;
}

/* Fond d'écran (Background) */
#background {
  width: 100%;
}

/* Section : À la française */
section {
  background-color: #F6F6F6;
  padding: 40px 20px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: relative;
  top: -60px;
  /* Menu */
  /* Bouton */
}
section .titre {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 30px 10px;
  /* Coeur */
}
section .titre i {
  font-size: 2em;
  cursor: pointer;
}
section .titre .far {
  position: relative;
  transition: all 1s ease-in-out;
}
section .titre .fas {
  transform: scale(0);
  position: absolute;
  right: 50px;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
section .titre:hover .fas {
  transform: scale(1);
}
section .titre:hover .far {
  transform: scale(0);
}
section h2 {
  margin: 60px 0px 30px 0px;
}
section h2 ::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  height: 5px;
  width: 70px;
  position: relative;
  top: 5px;
}
section .choix-menu {
  background-color: white;
  box-shadow: 5px 5px 5px lightgrey;
  margin-bottom: 20px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 0;
  position: relative;
  opacity: 0;
  animation: apparition 2s ease-in-out forwards;
}
section .choix-menu:nth-child(2) {
  animation-delay: 0.3s;
}
section .choix-menu:nth-child(3) {
  animation-delay: 0.6s;
}
section .choix-menu:nth-child(4) {
  animation-delay: 0.9s;
}
section .choix-menu:nth-child(5) {
  animation-delay: 1.2s;
}
section .choix-menu .textes {
  padding: 20px;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .choix-menu .textes h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .choix-menu .textes p {
  margin-top: 5px;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .choix-menu > p {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  width: 10%;
}
section .choix-menu .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  width: 0%;
  font-size: 1.5em;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: right;
  z-index: 1;
}
section .choix-menu .check i {
  transition: all 1s ease-out;
  cursor: pointer;
}
section .choix-menu .check i:active {
  transform: rotate(-720deg);
}
section .choix-menu:hover .check {
  width: 20%;
  display: flex;
  transform: scaleX(1);
  overflow: hidden;
  z-index: 1;
}
section .choix-menu:hover .check i {
  animation: rotation 1s ease-in-out;
}
section .bouton-commander {
  display: flex;
  justify-content: center;
}
section .bouton-commander button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  padding: 20px 60px;
  border-radius: 40px;
  font-size: 1em;
  margin: 50px 0px;
  box-shadow: 5px 5px 5px lightgrey;
  cursor: pointer;
}
section .bouton-commander button:hover {
  box-shadow: 5px 5px 5px #a0a0a0;
  background: linear-gradient(#fface8, #ae80e5);
}

/* Footer */
footer {
  background-color: #363636;
  color: white;
  padding: 30px;
}
footer h4 {
  font-size: 1.3em;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  line-height: 1.6em;
}
footer ul li i {
  width: 30px;
  text-align: center;
  margin-right: 5px;
}
footer ul a {
  text-decoration: none;
  color: white;
}

/* Media Queries : Version tablette */
@media screen and (min-width: 768px) {
  /* Logo */
  header img {
    width: 40%;
  }
}
/* Media Queries : Version Desktop */
@media screen and (min-width: 992px) {
  /* Logo */
  header img {
    width: 30%;
  }

  /* Background Image */
  #background {
    height: 400px;
    object-fit: cover;
  }

  /* Menu */
  .affichage-desktop {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .affichage-desktop > div {
    width: 30%;
  }
  .affichage-desktop .choix-menu {
    margin: 10px;
  }

  /* Footer */
  footer {
    padding-bottom: 60px;
  }
  footer h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style-menu.css.map */
