
/* Variables */
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$couleur-shadow: lightgrey;

/* Animation Keyframes */
@keyframes spin {
    from {
        transform: rotate(0deg) scale(1.5);
    }
    to {
        transform: rotate(720deg) scale(0);
    }
}

@keyframes end {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes start {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animation chargement de la page */
header, div, nav, main, section, footer {
    animation: start 1s 1s both;
}

.loader {
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: wait;
    position: fixed;
    animation: end 1s 1s linear forwards;
    .loader-object {
        display: block;
        position: absolute;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 7px solid transparent;
        border-top-color: $primaire;
        animation: spin 2s linear infinite;
    }
    ::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 7px solid transparent;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-top-color: $secondaire;
        animation: spin 3s linear infinite;
    }
    ::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 7px solid transparent;
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
        border-top-color: $tertiaire;
        animation: spin 1.5s linear infinite;
    }
}

/* Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 0.02em;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* Form : Position et recherche */
.formulaire {
    background-color: #EAEAEA;
    padding: 20px 0px;
    form {
        display: flex;
        justify-content: center;
        input {
            border: none;
            background-color: #EAEAEA;
            font-size: 1em;
            width: 35%;
        }
    }
    i {
        width: 10%;
        text-align: right;
        margin-right: 20px;
    }
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    padding: 40px;
    p {
        color: grey;
    }
    button {
        background: linear-gradient($secondaire, $primaire);
        border: none;
        color: white;
        padding: 20px;
        border-radius: 40px;
        font-size: 1em;
        margin: 30px 0px;
        box-shadow: 5px 5px 5px $couleur-shadow;
        cursor: pointer;
        &:hover {
            box-shadow: 5px 5px 5px darken($couleur-shadow, 20%);
            background: linear-gradient(lighten($secondaire, 10%), lighten($primaire, 10%));
        }
    }
}

/* Section 1 : Fonctionnement */
.fonctionnement {
    padding: 40px 20px;
    .affichage {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .affichage-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F6F6F6;
            margin-bottom: 20px;
            padding: 30px 20px;
            position: relative;
            border-radius: 20px;
            box-shadow: 5px 5px 5px $couleur-shadow;
            cursor: pointer;
            i {
                width: 20%;
                text-align: center;
                padding-right: 20px;
                font-size: 1.2em;
                color: grey;
            }
            p {
                width: 80%;
            }
            .affichage-numero {
                position: absolute;
                left: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                border-radius: 30px;
                background-color: $primaire;
                color: white;
            }
            &:hover {
                background-color: lighten($primaire, 35%);
            }
            &:hover i {
                color: $primaire;
            }
        }
    }
}

/* Section 2 : Restaurants */
.restaurant {
    padding: 60px 20px 40px 20px;
    background-color: #F6F6F6;
    .disposition {
        padding: 20px;
        a {
            text-decoration: none;
            color: black;
        }
        .restaurant-disposition {
            position: relative;
            margin-bottom: 20px;
            background-color: white;
            border-radius: 20px;
            overflow: hidden;
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            .nouveau {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: $tertiaire;
                padding: 10px;
                border-radius: 5px;
            }
            .disposition-dessous-image {
                display: flex;
                justify-content: space-between;
                padding: 20px;
                p {
                    margin-top: 10px;
                    font-weight: 100;
                }
                /* Coeur */
                i {
                    font-size: 2em;
                }
                .far {
                    position: relative;
                    transition: all 1s ease-in-out;
                }
                .fas {
                    transform: scale(0);
                    position: absolute;
                    right: 20px;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-image: linear-gradient($primaire, $secondaire);
                    color: transparent;
                    transition: all 0.5s ease-in-out;
                    z-index: 1;
                }
                &:hover .fas {
                    transform: scale(1);
                }
                &:hover .far {
                    transform: scale(0);
                }
            }
        }
    }
}

/* Footer */
footer {
    background-color: #363636;
    color: white;
    padding: 30px;
    h5{
        font-size: 1.3em;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
    }
    ul {
        list-style-type: none;
        li {
            line-height: 1.6em;
            i {
                width: 30px;
                text-align: center;
                margin-right: 5px;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}

/* Media Queries : Version tablette */
@media screen and (min-width: 768px) {   

}


/* Media Queries : Version Desktop */
@media screen and (min-width: 992px) {
    /* Fonctionnement */
    .fonctionnement {
        .fonctionnement-conteneur {
            max-width: 1400px;
            margin: 0 auto;
            .affichage {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 20px;
                .affichage-menu {
                    margin: 10px;
                    i {
                        width: 30%;
                    }
                    .affichage-numero {
                        left: 45%;
                        bottom: -15px;
                    }
                }
            }
        }
    }
    /* Restaurant */
    .restaurant {
        .restaurant-conteneur {
            max-width: 1400px;
            margin: 0 auto;
            .disposition {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .restaurant-disposition {
                    width: 40%;
                }
            }
        }
    }   
    /* Footer */
    footer {
        padding-bottom: 60px;
        h5 {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        ul {
            display: flex;
            justify-content: space-around;
        }
    }
}

