
/* Variables */
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$couleur-shadow: lightgrey;

/* Animation Keyframes */
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
}

.logo, h2 {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 0.02em;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    a {
        text-decoration: none;
        color: black;
    }
    i {
        position: absolute;
        top: 40%;
        left: 40px;
        cursor: pointer;
    }
}

/* Fond d'écran (Background) */
#background {
    width: 100%;
}

/* Section : À la française */
section {
    background-color: #F6F6F6;
    padding: 40px 20px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: relative;
    top: -60px;
    .titre {
        display: flex;
        justify-content: space-between;
        padding: 0px 30px 0px 10px;
        h2 {
            font-size: 30px;
        }
        /* Coeur */
        i {
            font-size: 2em;
            cursor: pointer;   
        }
        .far {
            position: relative;
            transition: all 1s ease-in-out;
        }
        .fas {
            transform: scale(0);
            position: absolute;
            right: 50px;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-image: linear-gradient($primaire, $secondaire);
            color: transparent;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }
        &:hover .fas {
            transform: scale(1);
        }
        &:hover .far {
            transform: scale(0);
        }
    }
    /* Menu */
    h3 {
        margin: 30px 0px 30px 0px;
        &::after {
            content: "";
            display: block;
            background-color: $tertiaire;
            height: 5px;
            width: 70px;
            position: relative;
            top: 5px;
        }
    }
    .choix-menu {
        background-color: white;
        box-shadow: 5px 5px 5px $couleur-shadow;
        margin-bottom: 20px;
        border-radius: 30px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        z-index: 0;
        position: relative;
        opacity: 0;
        animation: apparition 2s ease-in-out forwards;
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.6s;
        }
        &:nth-child(4) {
            animation-delay: 0.9s;
        }
        &:nth-child(5) {
            animation-delay: 1.2s;
        }
        .textes {
            padding: 20px;
            width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            h4 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                margin-top: 5px;
                font-weight: 100;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        > p {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 20px;
            width: 20%;
        }
        .check {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiaire;
            color: white;
            width: 0%;
            font-size: 1.5em;
            transform: scaleX(0);
            transition: all 0.5s ease-in-out;
            transform-origin: right;
            z-index: 1;
            i {
                transition: all 1s ease-out;
                cursor: pointer;
                &:active {
                    transform: rotate(-720deg);
                }
            }
        }
        &:hover .check {
            width: 20%;
            display: flex;
            transform: scaleX(1);
            overflow: hidden;
            z-index: 1;
        }
        &:hover .check i {
            animation: rotation 1s ease-in-out;
        }
    }
    /* Bouton */
    .bouton-commander {
        display: flex;
        justify-content: center;
        button {
            background: linear-gradient($secondaire, $primaire);
            border: none;
            color: white;
            padding: 20px 60px;
            border-radius: 40px;
            font-size: 1em;
            margin: 50px 0px;
            box-shadow: 5px 5px 5px $couleur-shadow;
            cursor: pointer;
            &:hover {
                box-shadow: 5px 5px 5px darken($couleur-shadow, 20%);
                background: linear-gradient(lighten($secondaire, 10%), lighten($primaire, 10%));
            }
        }
    }
}

/* Footer */
footer {
    background-color: #363636;
    color: white;
    padding: 30px;
    h5{
        font-size: 1.3em;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
    }
    ul {
        list-style-type: none;
        li {
            line-height: 1.6em;
            i {
                width: 30px;
                text-align: center;
                margin-right: 5px;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}

/* Media Queries : Version tablette */
@media screen and (max-width: 992px) {  
    /* Fond d'écran (Background) */
    #background {
        height: 400px;
        object-fit: cover;
    }
}

/* Media Queries : Version Desktop */
@media screen and (min-width: 992px) {
    /* Background Image */
    #background {
        height: 400px;
        object-fit: cover;
    }
    /* Menu */
    .affichage-desktop {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1400px;
        margin: 0 auto;
        > div {
            width: 32%;
        }
        .choix-menu {
            margin: 10px;
        }
    } 
    /* Footer */
    footer {
        padding-bottom: 60px;
        h5 {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        ul {
            display: flex;
            justify-content: space-around;
        }
    }
}

